/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'merszym/mixemt_nf'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Run mixemt on a set of bamfiles'
    nextflowVersion  = '>=22.10'
    version          = 'v0.0'
}

cleanup = true
nextflow.enable.moduleBinaries = true

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp"
}

params {

    //basic_settings
    help           = false // display help-text and exit

    //user input files
    split          = ""      // folder with BAM-files
    trim           = 3       // trim X bases from each read
    mixemt_f       = 0.3 
    mixemt_r       = 5
    mixemt_R       = 2
    extract        = false

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus   = 16
    max_time   = 24.h
}

process {
    withName: "MIXEMT" {
        ext.args = [
            "-f ${params.mixemt_f}",
            "-r ${params.mixemt_r}",
            "-R ${params.mixemt_R}"
            "-V"
            "{params.extract ? '-o extract' : ''}"
        ].join(" ")

        publishDir = [
            path:"out/mixemt",
            mode:"copy",
        ]
        errorStrategy = 'ignore' // fails, if no hits
    }

    withName: "MASK_DEAMINATION" {
        ext.args = "${params.trim}"

        publishDir = [
            path:"out/masked",
            mode:"copy",
        ]
    }
}