/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'merszym/mixemt_nf'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Run mixemt on a set of bamfiles'
    nextflowVersion  = '>=22.10'
    version          = 'v0.0'
}

cleanup = true
nextflow.enable.moduleBinaries = true

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp"
  cacheDir   = '/mnt/scratch/singularity'
}

params {

    //basic_settings
    help           = false // display help-text and exit

    //user input files
    split          = ""      // folder with BAM-files
    mixemt_f       = 0.3
    mixemt_r       = 5

    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus   = 16
    max_time   = 24.h
}

process {
    withName: "MIXEMT" {
        ext.args = [
            "-f ${params.mixemt_f}",
            "-r ${params.mixemt_r}"
        ].join(" ")

        publishDir = [
            path:"out/mixemt",
            mode:"copy",
        ]
        errorStrategy = 'ignore' // fails, if no hits
    }
}